{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block header %}
    <div class="entry-div-page flex flex-column flex-lg-row justify-content-around my-5 pt-5">
        <h1 class="section-heading text-center">Ajouter un nouvel article</h1>
    </div>
{% endblock %}

{% block content %}
<div class="container entry-div-page my-3">

    <form class="comment-form" method="post" action="{{ addChapter }}">
        <div class=" form-group">
            <label for="titre">Titre d' l'article</label>
            <input type="text" class="form-control" name="titre" rows="1" class="text-dark" required />
        </div>
        <div class=" form-group">
            <label for="description">Description de l'article</label>
            <textarea type="text" class="form-control" name="description" class="text-dark" required ></textarea>
        </div>
        <div class=" form-group">
            <label for="contenu">Contenu de l'article</label>
            <textarea id="mytextarea" name="contenu" required>Hello, World!</textarea>
        </div>
        <footer class="entry-footer flex flex-column flex-lg-row justify-content-end align-content-start align-lg-items-center mt-2">
            <input type="submit" value="Publier" class="read-more order-2" />
        </footer><!-- .entry-footer -->
    </form>
</div>
{% endblock %}
