<footer id="footer">
    <footer class="footer" style="background-color: #00376E;">
        <div class="container">
            <div class="row align-items-center">
                <!-- <div class="row">
                     <div class="col-sm">
                         <h3>Customers</h3>
                         <ul class="list-unstyled links">
                             <li><a href="#">Buyer</a></li>
                             <li><a href="#">Supplier</a></li>
                         </ul>
                     </div>
                     <div class="col-sm">
                         <h3>Company</h3>
                         <ul class="list-unstyled links">
                             <li><a href="#">About us</a></li>
                             <li><a href="#">Careers</a></li>
                             <li><a href="#">Contact us</a></li>
                         </ul>
                     </div>
                     <div class="col-sm">
                         <h3>Further Information</h3>
                         <ul class="list-unstyled links">
                             <li><a href="#">Terms &amp; Conditions</a></li>
                             <li><a href="#">Privacy Policy</a></li>
                         </ul>
                     </div>
                     <div class="col-md-3">
                         <h3>Follow us</h3>
                         <ul class="list-unstyled social">
                             <li><a href="#"><span class="icon-facebook"></span></a></li>
                             <li><a href="#"><span class="icon-twitter"></span></a></li>
                             <li><a href="#"><span class="icon-linkedin"></span></a></li>
                             <li><a href="#"><span class="icon-medium"></span></a></li>
                             <li><a href="#"><span class="icon-paper-plane"></span></a></li>
                         </ul>
                     </div>

                 </div>-->

                <div class="text-center text-white-50">Copyright © Alain Nsanzabahire 2022</div>
            </div>
        </div>
    </footer>
</footer>
