<footer id="footer">
    <footer class="footer pb-4" style="background-color: #00376E;">
        <div class="container">
            <div class="row align-items-center" >
                 <div class="row my-2">
                         <h3 class="my-4">Suivez-moi</h3>
                         <ul class="flex list-unstyled social justify-content-center">
                             <li>
                                 <a  href="https://twitter.com/AlainBahire" class="btn btn-social-icon btn-twitter mx-3">
                                     <span class="fa fa-twitter"></span>
                                 </a>
                             </li>
                             <li>
                                 <a href="https://github.com/nbahire" class="btn btn-social-icon btn-github mx-3">
                                     <span class="fa fa-github"></span>
                                 </a>
                             </li>
                             <li>
                                 <a href="https://www.linkedin.com/in/alain-nsanzabahire-40b31a198/" class="btn btn-social-icon btn-linkedin mx-3">
                                     <span class="fa fa-linkedin"></span>
                                 </a>
                             </li>
                         </ul>

                 </div>
            </div>
        </div>
    </footer>
    <footer class="footer" style="background-color: #05284d;">
    <div class="text-center text-white-50">Copyright © Alain Nsanzabahire 2022</div>
    </footer>

</footer>
